/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
body .marginSpace {
  margin: 4% 2%;
}
body nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
body nav a {
  padding: 0 2%;
  text-decoration: none;
  color: black;
}
body .firstSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 0;
  padding: 5% 0;
  background-color: lightgray;
}
body .firstSec .pic {
  max-width: 30%;
  margin: 0 4%;
}
body .firstSec .title {
  margin: 2% 4%;
}
body .firstSec .title h1 {
  font-size: 400%;
  margin-bottom: 1%;
}
body .firstSec .info {
  margin: 2% 4%;
  padding: 2% 0;
  border-top: grey 1px solid;
}
body .firstSec .info button {
  margin-top: 2%;
  padding: 1% 2%;
}
body .secSec {
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}
body .secSec h2 {
  font-size: 150%;
  margin-bottom: 2%;
}
body .secSec div {
  width: 48%;
}
body .secSec div li {
  padding: 2% 2%;
  border: l lightgray solid 1px;
}
body .thirdSec {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
}
body .thirdSec h2 {
  font-size: 150%;
  border-bottom: 1px solid grey;
  padding-bottom: 2%;
}
body .thirdSec .workHist {
  display: flex;
  width: 100%;
}
body .thirdSec .workHist h3 {
  font-size: 125%;
}
body .thirdSec .workHist .hist {
  width: 25%;
}
body .thirdSec .workHist .bord {
  border-bottom: 1px solid grey;
  padding: 5% 0;
  padding-left: 5%;
}
body .thirdSec .workHist .col1 {
  background-color: lightgray;
}
body .thirdSec .workHist .col2 {
  background-color: lightblue;
}
body .contact {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
}
body .contact h3 {
  font-size: 125%;
  margin-bottom: 1%;
}
body .contact p {
  margin: 0.1% 0%;
}
body footer {
  display: flex;
  justify-content: center;
  padding: 2% 0 3% 0;
  background-color: lightblue;
}
